@model List<ResultFooterContactDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="Brandd">
                    <div class="Brandd-body">
                        <h4 class="Brandd-title">İletişim ve Footer Alanı</h4>
                        <p class="Brandd-subtitle mb-4">
                            İletişim ve Footer kısımlarında bulunan bilgileri düzenleyebilirsiniz. Harita bilgisini lokasyon değeri olarak Google Maps üzerinden alınız.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Adres</th>
                                        <th>Telefon</th>
                                        <th>Email</th>
                                        <th>Açıklama</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@item.Address</td>
                                            <td>@item.PhoneNumber</td>
                                            <td>@item.Email</td>
                                            <td>@item.Description</td>
                                            <td><a href="/Admin/FooterContact/RemoveFooterContact/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/FooterContact/UpdateFooterContact/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <td><a href="/Admin/FooterContact/CreateFooterContact/" class="btn btn-outline-primary">Yeni Adres Bilgisi Ekle</a></td>
                        </div>

                    </div>
                    <!-- end Brandd-body-->
                </div>
                <!-- end Brandd -->

            </div>
            <!-- end col -->
            <!-- end col -->
        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>


