@model CreateBrandDto
@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Marka Girişi</h4>
                        <p class="card-subtitle mb-4">Marka ile ilgili bilgiyi eksiksiz doldurmanız önemlidir. Veri girişinden sonra kaydet butonuna tıklayarak işleminizi tamamlayabilirsiniz.</p>

                        <form method="post">
                            <div class="form-group">
                                <label>Marka</label>
                                <input type="text" class="form-control" asp-for="Name" placeholder="Marka girişi yapınız.">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Markayı Kaydet</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div>
    <!-- end col -->
    <!-- end col -->
</div>
<!-- end page title -->

