@model List<ResultSocialMediaDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="Brandd">
                    <div class="Brandd-body">
                        <h4 class="Brandd-title">Sosyal Medyalarımız Alanı</h4>
                        <p class="Brandd-subtitle mb-4">
                            Sosyal Medyalarımız alanında bulunan bilgileri aşağıdan düzenleyebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Sosyal Medya</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Tarayıcıda Aç</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;

                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Name</td>
                                            <td><a href="/Admin/SocialMedia/RemoveSocialMedia/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/SocialMedia/UpdateSocialMedia/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                                            <td><a href="/Admin/SocialMedia/UpdateSocialMedia/@item.Id" class="btn btn-outline-dark">Aç</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <td><a href="/Admin/SocialMedia/CreateSocialMedia/" class="btn btn-outline-primary">Yeni Sosyal Medya Ekle</a></td>
                        </div>

                    </div>
                    <!-- end Brandd-body-->
                </div>
                <!-- end Brandd -->

            </div>
            <!-- end col -->
            <!-- end col -->
        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>

