@model UpdateBlogCategoryDto
@{
    ViewData["Title"] = "UpdateBlogCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Blog Kategorisi Güncelleme Alanı</h4>
                        <p class="card-subtitle mb-4">
                            Blog kategorisi güncelleme işlemini buradan yapabilirsiniz.
                        </p>

                        <form method="post">
                            <input type="hidden" asp-for="Id"/>
                            <div class="form-group">
                                <label>Kategori Adı</label>
                                <input type="text" class="form-control" asp-for="Name" placeholder="Kategori adı girişi yapınız.">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kategoriyi Güncelle</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div>
    <!-- end col -->
    <!-- end col -->
</div>
<!-- end page title -->

