@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="Brandd">
                    <div class="Brandd-body">
                        <h4 class="Brandd-title">Ana Sayfa Hakkımızda Alanı</h4>
                        <p class="Brandd-subtitle mb-4">
                            Ana Sayfanın ve Hakkımızda sayfasının ilgili alanlarını bu bölümden düzenleyebilirsiniz. Tema bütünlüğünün bozulmaması adına sadece 1 adet veri girişi yapınız. 
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Başlık</th>
                                        <th>Açıklama</th>
                                        <th>Görsel</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>@item.ImageUrl</td>
                                            <td><a href="/Admin/About/RemoveAbout/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/About/UpdateAbout/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <td><a href="/Admin/About/CreateAbout/" class="btn btn-outline-primary">Yeni Hakkımda Alanı Ekle</a></td>
                        </div>

                    </div>
                    <!-- end Brandd-body-->
                </div>
                <!-- end Brandd -->

            </div>
            <!-- end col -->
            <!-- end col -->
        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>

