
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("UILayoutHead")
  <body>

    @await Component.InvokeAsync("UILayoutNavbar")
    <!-- END nav -->
    @await Component.InvokeAsync("DefaultMainCover")

    @await Component.InvokeAsync("RentACarFilter")

    @await Component.InvokeAsync("DefaultLast5CarsWithBrands")

    @await Component.InvokeAsync("AboutUs")

    @await Component.InvokeAsync("Service")

    @await Component.InvokeAsync("RentADriver")

    @await Component.InvokeAsync("Testimonial")

    @await Component.InvokeAsync("GetLast3BlogsWithAuthors")

    @await Component.InvokeAsync("DefaultStatistics")

    @await Component.InvokeAsync("UILayoutFooter")

    @await Component.InvokeAsync("UILayoutLoader")

    @await Component.InvokeAsync("UILayoutScripts")
    
  </body>
</html>

