@model CreatePricingDto
@{
    ViewData["Title"] = "CreatePricing";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Ödeme Türü Girişi</h4>
                        <p class="card-subtitle mb-4">
                            Ödeme Türü ekleme işlemini buradan yapabilirsiniz.
                        </p>

                        <form method="post">
                            <div class="form-group">
                                <label>Ödeme Türü</label>
                                <input type="text" class="form-control" asp-for="Name" placeholder="Ödeme Türü girişi yapınız. (Günlük, haftalık, saatlik vb.)">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Ödeme Türünü Kaydet</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div>
    <!-- end col -->
    <!-- end col -->
</div>
<!-- end page title -->
