@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
        </div>
        <!-- end page title -->
        @await Component.InvokeAsync("AdminDashboardStatistics")
        <!-- end row -->


        <div class="row">
 <!-- end col -->
            @await Component.InvokeAsync("AdminDashboardChart1")
            @await Component.InvokeAsync("AdminDashboardChart2")
            @await Component.InvokeAsync("AdminDashboardChart3")

            
        </div>
        <!-- end row-->
        <div class="row">
            @await Component.InvokeAsync("AdminDashboardRentalPriceList")


            @await Component.InvokeAsync("AdminDashboardBlogList")
        </div>
        <!-- end col -->
    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

